<div class="bundle-products">
  {% for product in collections.bundle-products.products %}
    {% assign current_variant = product.selected_or_first_available_variant %}
    <div class="bundle-wrapper">
      <div class="bundle-img"></div>
      <div class="bundle-info">
        <h3>{{ product.url }}</h3>
        <div class="selection-wrapper price product-single__price-{{ section.id }}">
          {% unless section_onboarding %}
            <span class="money" id="ProductPrice-{{ section.id }}" data-ProductPrice itemprop="price" content="{{ current_variant.price | money_with_currency | remove: ',' }}">{{ current_variant.price | money }}  </span>
          {% else %}
            <span class="money" id="ProductPrice-{{ section.id }}" data-ProductPrice itemprop="price" content="{{ 1999 | money_with_currency | remove: ',' }}">{{ 1999 | money }}</span>
          {% endunless %}
          
          {% if current_variant.compare_at_price > current_variant.price %}
            <p id="ComparePrice-{{ section.id }}" data-ComparePrice style="display:inline-block;">
              <span class="compareprice__label">{{ 'products.product.compare_at' | t }} </span><span class="money">{{ current_variant.compare_at_price | money }}</span>
            </p>
          {% else %}
            <p id="ComparePrice-{{ section.id }}" data-ComparePrice style="display:none;">
              <span class="compareprice__label">{{ 'products.product.compare_at' | t }} </span><span class="money">{{ current_variant.compare_at_price | money }}</span>
            </p>
          {% endif %}
        </div>
      </div>
      <a href="{{ product.url }}">Add</a>
    </div>
  {% endfor %}
</div>