<header class="util">
  <div class="wrapper">

    <div class="search-wrapper">
      {% include 'search-bar' %}
    </div>

    <div class="left-wrapper">
      <ul class="text-links">
        <li class="mobile-menu">
          <a href="#menu" class="toggle-menu menu-link">
            <span class="icon-text">
              <span class="icon icon-menu" aria-hidden="true">{% include 'icon-ui-menu' %}</span>
              {%comment%}<span class="text" data-close-text="{{ 'layout.drawers.close_menu' | t }}">{{ 'layout.navigation.menu' | t }}</span>{%endcomment%}
            </span>
          </a>
        </li>
        <li class="search-wrap">
          <a href="#" class="search">
            <span class="icon-text">
              <span class="icon icon-search" aria-hidden="true">{% include 'icon-ui-search' %}</span>
              {%comment%}<span class="text">{{ 'general.search.submit' | t }}</span> {%endcomment%}
            </span>
          </a>
        </li>
      </ul>
      {% comment %}
        Include currency picker
      {% endcomment %}
      {% if settings.show_multiple_currencies or shop.enabled_currencies.size > 1 %}
        {% include 'currency-picker' %}
      {% endif %}
    </div>
    <div class="middle-wrapper">
      <div class="logo-contain">
            {% if template.name == 'index' %}
              <h1 class="site-logo {% if section.settings.logo %}has-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
            {% else %}
              <div class="site-logo {% if section.settings.logo %}has-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
            {% endif %}
              {% if section.settings.logo %}
                <a href="{{ routes.root_url }}" itemprop="url" class="logo-image">
                  {%- assign image = section.settings.logo -%}
                  {%- assign image_default_width = section.settings.logo_max_width -%}
                  {%- assign image_2x_width = image_default_width | times: 2 -%}
                  {%- assign image_3x_width = image_default_width | times: 3 -%}
                  {%- assign image_default = image_default_width | append: 'x' -%}
                  {%- capture widths -%}{{ image_default_width }},{{ image_2x_width }},{{ image_3x_width }}{%- endcapture -%}
                  {% assign image_widths = widths %}
                  {% include 'theme-rias' %}

                  <img id="changing-logo"
                    data-widths="[{{ image_widths }}]"
                    data-aspectratio="{{ image.aspect_ratio }}"
                    data-sizes="auto"
                    src="{% comment ls-rpl %}{{ image | img_url: image_default }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: image_default -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
                    alt="{% comment ls-rpl %}{{ image.alt | escape | default: shop.name }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape | default: shop.name }}{% comment /ls-rpl %}{% endcomment %}"> 
                </a>
                                                                       
              {% else %}
                <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            {% if template.name == 'index' %}
              </h1>
            {% else %}
              </div>
            {% endif %}
          </div>
    </div>
    <div class="right-wrapper">
      {% comment %}
        If customer accounts are enabled, provide login and create account links
      {% endcomment %}
      {% if shop.customer_accounts_enabled %}
        {% include 'accounts-nav' %}
      {% endif %}
      {% comment %}
        Show number of items in the cart and total cost in the /cart link
      {% endcomment %}
      <a href="{{ routes.cart_url }}" id="CartButton">
        <span class="icon-fallback-text">
          {%- assign cart_icon = 'icon-ui-' | append: settings.cart_icon -%}
          <span class="icon icon-cart" aria-hidden="true">{% include cart_icon %}</span>
        </span>
        <span id="CartCount">{{ cart.item_count }}</span>
        {%comment%} {{ 'layout.cart.title' | t }}
        <span id="CartCost" class="money">{% unless cart.item_count == 0 %}{{ cart.total_price | money }}{% endunless %}</span>{%endcomment%}

      </a>
      {% if settings.ajax_cart_enable %}
        {% include 'cart-preview' %}
      {% endif %}
    </div>
  </div>
</header>
