<div class="thumbnails" data-enable-group="{{ section.settings.enable_thumb_slider }}">
  <ul id="ProductThumbs-{{ section.id }}" data-ProductThumbs>

    {% for image in product.images %}
      {%- assign image_width = image.width | append: 'x' -%}
      {% comment ls-rpl %}{%- assign image_highresolution = image | img_url: image_width -%}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: image_width -%}{%- endcapture -%}{%- assign image_highresolution = LS_IMG_URL -%}{% comment /ls-rpl %}{% endcomment %}
      {%- assign active_image = current_variant.featured_image | default: product.featured_image -%}
      <li>
        <a href="{{ image_highresolution }}" class="product-single__thumbnail--{{ section.id }} {% if image == active_image %}active{% endif %}" data-image-id="{{ image.id }}">
          {% assign image_widths = '85,100,200,295,394,590,720,800' %}
          {% include 'theme-rias' %}
          <img class="lazyload"
            src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
            data-default="{% comment ls-rpl %}{{ image | img_url: '394x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: '394x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}"
            data-src="{{ image_url_pattern }}"
            data-src-pattern="{{ image_url_pattern }}"
            data-widths="[{{ image_widths }}]"
            data-aspectratio="{{ image.aspect_ratio }}"
            data-sizes="auto"
            data-position="{{ forloop.index0 }}"
            data-max-width="{{ image.width }}"
            alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
          <noscript>
            <img src="{% comment ls-rpl %}{{ image | img_url: '100x' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: image, img_url: '100x' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}" alt="{% comment ls-rpl %}{{ image.alt | escape }}{% endcomment %}{%- capture LS_ALT -%}{%- render "ls-alt", image: image -%}{%- endcapture -%}{{ LS_ALT | escape }}{% comment /ls-rpl %}{% endcomment %}">
          </noscript>
        </a>
      </li>
    {% endfor %}

  </ul>
</div>
