
{% comment %}

	{{ "sezzle-checkout-button.js" | asset_url | script_tag }}
	<script>
		new SezzleCheckoutButton({}).init();
	</script>



{% endcomment %}
<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>

  

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.primary_accent_color }}">

  {% if settings.favicon != blank %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ settings.favicon | img_url: '180x180' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ settings.favicon | img_url: '32x32' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ settings.favicon | img_url: '16x16' }}">
  <link rel="mask-icon" color="{{ settings.primary_accent_color }}">
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ content_for_header }}
  {{ 'themes.css' | asset_url | stylesheet_tag }}
  {% comment %}{{ 'theme.scss.css' | asset_url | stylesheet_tag }}{% endcomment %}
  {{ 'new-style.css' | asset_url | stylesheet_tag }}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% if template contains 'index'%}
    {{ 'rubies-homepage-fun.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'rubies-main-custom.js' | asset_url | script_tag }}

  <script>
    window.StyleHatch = window.StyleHatch || {};
    {% include 'js-language-strings' %}
    StyleHatch.currencyFormat = {{ shop.money_format | json }};
    StyleHatch.ajaxCartEnable = {{ settings.ajax_cart_enable }};
    StyleHatch.cartData = {{ cart | json }};
    StyleHatch.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}'
    };
    // Post defer
    window.addEventListener('DOMContentLoaded', function() {
      (function( $ ) {
      {% comment %}
        Add JavaScript fuctionality that relies on jQuery here
        this will allow jQuery to properly load before the calls are made
      {% endcomment %}
      loadCustomCode();

        

        
        
      {% if newHash %}
        $(function() {
          StyleHatch.updateHash('{{ newHash }}');
        });
      {% endif %}
      {% if resetPassword %}
        $(function() {
          StyleHatch.resetPasswordSuccess();
        });
      {% endif %}



        // CUSTOM CODE BEGIN - added by Jamie Alexander - Feb 2020


          {% if template contains 'index' %}
          function startCustomCode() {
              if (typeof loadHandlers === 'function') {
                  loadHandlers();
                  loadHomePageFun();
              }
              else {
                  setTimeout(function () {
                      startCustomCode()
                  }, 100)
              }
          }
          startCustomCode()

        {% endif %}
        // CUSTOM CODE END - added by Jamie Alexander - Feb 2020


      })(jq223);
    });
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
      


  </script>
   {% if settings.show_multiple_currencies and shop.enabled_currencies.size == 1 %}
    {% include 'currencies' %}
  {% endif %}
  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.loadMode = 1;
  </script>
  <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
  <script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

  {% include 'judgeme_core' %}
  <!-- Hotjar Tracking Code for RUBYSHINES.COM -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1959201,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <script type="application/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=VZEgHe"></script>



<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css"/>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script src="{{ 'custom.js' | asset_url }}"></script>
  

 <style>
   {% unless template.name == 'index' %}
      button.needsclick.kl-teaser-SUUFk4.undefined.kl-private-reset-css-Xuajs1 {display: none;}
   {% endunless %}
 </style>	
  <script>
    var ignore_csapp_cart_reload = true;
    var aiod_theme_currency = {{ shop.money_with_currency_format | json }};
  </script>

  {% include 'cscode_discount' %}

{% comment %}  {% include 'wiser' %}{% include 'wiser_popup' %}

{% if content_for_header contains 'fastbundle.co' %}
    {% render 'fast_bundle_service' %}
{% endif %} {% endcomment %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-template-directory="{{ template.directory }}" data-template="{{ template.name }}" >

  <div id="page">
    {% section 'promos' %}
     
    {% section 'header' %}

    <main class="main-content main-content--breadcrumb-{{ settings.show_breadcrumbs }}" role="main">
     {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>
  

  {% comment %}<!-- District v3.5.2 -->
{% include 'spurit_po2_theme_snippet' %}
 {% endcomment %}
  
{% render 'preorder-now' %}


 {% include 'smile-initializer' %}
<script>
jQuery(document).ready(function(){
setInterval(function(){
  var hasChildDiv = document.querySelector(".aiod_minicart_wraper").querySelector(".btn-cart");
  if (hasChildDiv !== null) {
    $("").insertBefore('.aiod_minicart_wraper button.csapps_checkout');
  }else{
    $("<a href='{{ routes.cart_url }}' class='btn btn-cart text-center'>View Cart</a>").insertBefore('.aiod_minicart_wraper button.csapps_checkout');
  }
  
  },6000);
 
})
</script>
</body>
</html>