{%- capture LS_INPUT -%}<!doctype html>
<!--[if IE 8]>{% comment ls-rpl %}<html class="no-js lt-ie9" lang="{{ shop.locale }}">{% endcomment %}<html class="no-js lt-ie9" lang="{%- render "ls-language" -%}" dir="{%- render "ls-language-direction" -%}">{% comment /ls-rpl %}{% endcomment %} <![endif]-->
<!--[if IE 9 ]>{% comment ls-rpl %}<html class="ie9 no-js">{% endcomment %}<html class="ie9 no-js" lang="{%- render "ls-language" -%}" dir="{%- render "ls-language-direction" -%}">{% comment /ls-rpl %}{% endcomment %} <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> {% comment ls-rpl %}<html class="no-js" lang="{{ shop.locale }}">{% endcomment %}<html class="no-js" lang="{%- render "ls-language" -%}" dir="{%- render "ls-language-direction" -%}">{% comment /ls-rpl %}{% endcomment %} <!--<![endif]-->
<head>
  
{%- render "ls-head" -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.primary_accent_color }}">

  {% if settings.favicon != blank %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% comment ls-rpl %}{{ settings.favicon | img_url: '180x180' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: settings.favicon, img_url: '180x180' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% comment ls-rpl %}{{ settings.favicon | img_url: '32x32' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: settings.favicon, img_url: '32x32' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% comment ls-rpl %}{{ settings.favicon | img_url: '16x16' }}{% endcomment %}{%- capture LS_IMG_URL -%}{%- render "ls-img-url", image: settings.favicon, img_url: '16x16' -%}{%- endcapture -%}{{ LS_IMG_URL }}{% comment /ls-rpl %}{% endcomment %}">
  <link rel="mask-icon" color="{{ settings.primary_accent_color }}">
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %}{% comment ls-rpl %}{% assign meta_tags = current_tags | join: ', ' %}{% endcomment %}{%- capture LS_TAGS -%}{%- render "ls-tags", resource: nil, tags: current_tags -%}{%- endcapture -%}{%- assign LS_TAGS = LS_TAGS | split: "," -%}{% assign meta_tags = LS_TAGS | join: ', ' %}{% comment /ls-rpl %}{% endcomment %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ content_for_header }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {{ 'new-style.css' | asset_url | stylesheet_tag }}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
  {% if template contains 'index'%}
    {{ 'rubies-homepage-fun.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'rubies-main-custom.js' | asset_url | script_tag }}

  <script>
    window.StyleHatch = window.StyleHatch || {};
    {% include 'js-language-strings' %}
    StyleHatch.currencyFormat = {{ shop.money_format | json }};
    StyleHatch.ajaxCartEnable = {{ settings.ajax_cart_enable }};
    StyleHatch.cartData = {{ cart | json }};
    StyleHatch.routes = {
      root_url: '{{ routes.root_url }}',
      account_url: '{{ routes.account_url }}',
      account_login_url: '{{ routes.account_login_url }}',
      account_logout_url: '{{ routes.account_logout_url }}',
      account_recover_url: '{{ routes.account_recover_url }}',
      account_register_url: '{{ routes.account_register_url }}',
      account_addresses_url: '{{ routes.account_addresses_url }}',
      collections_url: '{{ routes.collections_url }}',
      all_products_collection_url: '{{ routes.all_products_collection_url }}',
      search_url: '{{ routes.search_url }}',
      cart_url: '{{ routes.cart_url }}',
      cart_add_url: '{{ routes.cart_add_url }}',
      cart_change_url: '{{ routes.cart_change_url }}',
      cart_clear_url: '{{ routes.cart_clear_url }}'
    };
    // Post defer
    window.addEventListener('DOMContentLoaded', function() {
      (function( $ ) {
      {% comment %}
        Add JavaScript fuctionality that relies on jQuery here
        this will allow jQuery to properly load before the calls are made
      {% endcomment %}
      loadCustomCode();

        

        
        
      {% if newHash %}
        $(function() {
          StyleHatch.updateHash('{{ newHash }}');
        });
      {% endif %}
      {% if resetPassword %}
        $(function() {
          StyleHatch.resetPasswordSuccess();
        });
      {% endif %}



        // CUSTOM CODE BEGIN - added by Jamie Alexander - Feb 2020


          {% if template contains 'index' %}
          function startCustomCode() {
              if (typeof loadHandlers === 'function') {
                  loadHandlers();
                  loadHomePageFun();
              }
              else {
                  setTimeout(function () {
                      startCustomCode()
                  }, 100)
              }
          }
          startCustomCode()

        {% endif %}
        // CUSTOM CODE END - added by Jamie Alexander - Feb 2020


      })(jq223);
    });
    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      
      


  </script>
  <script type="text/javascript">
    window.lazySizesConfig = window.lazySizesConfig || {};
    window.lazySizesConfig.loadMode = 1;
  </script>
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->
  {% if settings.show_multiple_currencies and shop.enabled_currencies.size == 1 %}
    {% include 'currencies' %}
  {% endif %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {% include 'judgeme_core' %}
  <!-- Hotjar Tracking Code for RUBYSHINES.COM -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1959201,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  <script type="application/javascript" async 
 src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=VZEgHe"></script>


{% render 'hucs-honey-app' %}

{% include 'upsellio' %}
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 <style>
   {% unless template.name == 'index' %}
      button.needsclick.kl-teaser-SUUFk4.undefined.kl-private-reset-css-Xuajs1 {display: none;}
   {% endunless %}
 </style>	
  <script>
    var ignore_csapp_cart_reload = true;
    var aiod_theme_currency = {{ shop.money_with_currency_format | json }};
  </script>

  {% include 'cscode_discount' %}

  {% include 'wiser' %}{% include 'wiser_popup' %}</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" data-template-directory="{{ template.directory }}" data-template="{{ template.name }}" >

  <div id="page">
    {% section 'promos' %}
    {% include 'header-util' %}
    {% section 'header' %}

    <main class="main-content main-content--breadcrumb-{{ settings.show_breadcrumbs }}" role="main">
     {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>
  

  <!-- District v3.5.2 -->
{% include 'spurit_po2_theme_snippet' %}

  
{% render 'preorder-now' %}

<script>
  const icons = document.querySelectorAll('.product-swatches li.product-swatches__li')
if (icons.length >= 2) {
       var firstFour = icons.slice(0, 2)
       var restElements = icons.slice(2, icons.length)
}
</script>
</body>
</html>
{%- endcapture -%}
{{ LS_INPUT }}
{% comment %}{%- render "ls-output", input: LS_INPUT -%}

	{{ "sezzle-checkout-button.js" | asset_url | script_tag }}
	<script>
		new SezzleCheckoutButton({}).init();
	</script>



{% endcomment %}