<div class="aiod-general-discount-topbar"></div>
{{ 'cart.css' | asset_url | stylesheet_tag }}
{% if cart.item_count > 0 %}
  <style>
  .collection-list-section { display: none; }
  </style>
{% endif %}
<section class="cart" data-section-id="{{ section.id }}" data-ajax-cart="{{ section.settings.ajax_cart }}" data-section-type="cart-template">
  <div class="wrapper">

    <header class="content-util">
      {% if section.settings.breadcrumbs %}
    {% include 'breadcrumb' %}
        {% endif %}
    {% include 'social-icons' %}
    </header>

    <div class="cart-container">
      <header class="cart-header">
        <h1>{{ 'cart.general.title' | t }}</h1>
      </header>
      {% if cart.item_count > 0 %}
        
      <div id="shipping-savings-message">
        {% assign shipping_value = section.settings.free_price | remove: "." %}
        {% assign cart_total = cart.total_price %}
        {% assign shipping_value_left = shipping_value | minus: cart_total %}
        {% if shipping_value_left > 0 %}
          <p>Spend <b>{{ shipping_value_left | money }}</b> more for free shipping $8 CAD standard shipping fee</p>
        {% else %}
          <p>You've got free shipping </p>
        {% endif %}
        </div>
      <div class="estimate-wr">
        <script>
        const monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
       
        
     
        
        const date = new Date();
        const tomorrowDate = monthNames[date.getMonth()]+" "+ (date.getDate() + 1);
        const afterDayDate = monthNames[date.getMonth()]+" "+ (date.getDate() + 9);
        var tomorrowDateDay = new Date(tomorrowDate+", "+date.getFullYear());
        var afterDayDateDay = new Date(afterDayDate+", "+date.getFullYear());
 
        </script>
        arrives to Canada between <script> document.write(days[tomorrowDateDay.getDay()]+", "+tomorrowDate)</script> and <script> document.write(days[afterDayDateDay.getDay()]+", "+afterDayDate)</script></div>
        <div class="cart-list">
          <form action="/cart" method="post" novalidate class="cart-form">
            <div class="cart-items" data-csapp_line_wrapper>
              {% comment %}
              <div class="label-row">
                <div class="grid">
                  <div class="td cart-item-product">
                    {{ 'cart.label.product' | t }}
                  </div>
<!--                   <div class="td cart-item-price">
                    {{ 'cart.label.price' | t }}
                  </div>
                  <div class="td cart-item-quantity">
                    {{ 'cart.label.quantity' | t }}
                  </div> -->
                  <div class="td cart-item-total">
                    {{ 'cart.label.total' | t }}
                  </div>
                </div>
              </div>
               {% endcomment %}
              {%- for item in cart.items -%}
                
                <div class="cart-item" data-cart-item="{{ item.key }}" data-csapp_line_index>
                <div class="grid custom-cart-items">
                <div class="td cart-item-product-image custom-cart-product-image">
                    {%- comment -%}
                        Cart item - image
                      {%- endcomment -%}
                      <div class="cart-item-image">
                        {%- assign image = item.image -%}
                        <a href="{{ item.url | within: collections.all }}" class="card__image-wrapper"
                          style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%"
                          data-cart-item-href>
                          {%- assign image_widths = '120,240,394,590' -%}
                          {% include 'theme-rias' %}
                          <img class="card__image lazyload"
                            src="{{ image | img_url: '120x' }}"
                            data-src="{{ image_url_pattern }}"
                            data-widths="[{{ image_widths }}]"
                            data-aspectratio="{{ image.aspect_ratio }}"
                            data-sizes="auto"
                            data-cart-item-image
                            alt="{{ image.alt | escape }}">
                          <noscript>
                            <img class="card__image" src="{{ image | img_url: '120x' }}" alt="{{ image.alt | escape }}">
                          </noscript>
                        </a>
                      </div>
                </div>
                <div class="td cart-item-product custom-cart-product-title">
                  
                      {%- comment -%}
                        Cart item - title
                      {%- endcomment -%}
                      <div class="cart-item-title">
                        <a href="{{ item.url | within: collections.all }}" class="title" data-cart-item-href data-cart-item-title>{{ item.product.title }}</a>
                        {%- unless item.product.has_only_default_variant -%}
                          <span class="variant" data-cart-item-variant-title>{{ item.variant.title }}</span></br>
                        {%- endunless -%}
                        {%- comment -%}
                          Optional, loop through custom product line items if available
                          For more info on line item properties, visit:
                            - https://help.shopify.com/en/themes/customization/products/features/get-customization-information-for-products
                        {%- endcomment -%}
                        {%- unless item.properties == empty -%}
                          {%- for property in item.properties -%}
                            {%- unless property.last == blank -%}
                              {{ property.first }}: {% if property.last contains '/uploads/' %}
                                <a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>
                              {% else %}
                                {{ property.last }}
                              {% endif %}<br>
                            {%- endunless -%}
                          {%- endfor -%}
                        {%- endunless -%}
                      </div>
                    <div class="cart-item-quantity">
                      <span>
                        <div class="quantity-select">
                          <div class="button-wrapper">
                            <button type="button" class="adjust adjust-minus" data-cart-item-quantity-minus>-</button>
                          </div>
                          <div class="input-wrapper">
                            <input type="text" class="quantity" data-cart-item-quantity min="0" pattern="[0-9]*" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" >
                          </div>
                          <div class="button-wrapper">
                            <button type="button" class="adjust adjust-plus" data-cart-item-quantity-plus>+</button>
                          </div>
                        </div>
                      </span>
                      <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="remove" data-cart-item-remove>
                  <img src="https://cdn.shopify.com/s/files/1/0661/1822/2064/files/delete.png?v=1666160123">
                </a>{% comment%}{{ 'cart.general.remove' | t }}{% endcomment %}
                    </div>
                 </div>
                    {%- comment -%}
                      Cart item - price
                    {%- endcomment -%}
                {% comment %}
                    <div class="td cart-item-price">
                      <p><span class="money final-price{% if item.original_line_price > item.final_line_price %} final-price-discount{% endif %}" data-cart-item-final-price data-csapp_price>{{ item.final_price | money }}</span></p>
                      {%- if item.original_line_price > item.final_line_price -%}
                        <p><span class="money original-price" data-cart-item-original-price><div class="pn-price-item" data-id="{{ item.key }}">{{ item.original_price | money }}</div></span></p>
                      {%- endif -%}
                      {% if item.line_level_discount_allocations.size > 0 %}
                        <ul class="cart-item-discounts">
                        {% for discount_allocation in item.line_level_discount_allocations %}
                          <li class="cart-item-discount"><span class="cart-item-discount-title">{{ discount_allocation.discount_application.title }}</span><br>
                          <span class="cart-item-discount-amount">(-<span class="money">{{ discount_allocation.amount | money_with_currency }}</span>)</span></li>
                        {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                {% endcomment %}
 
                
                    {%- comment -%}
                      Cart item - total
                    {%- endcomment -%}
                    <div class="td cart-item-total custom-cart-product-total" data-mobile-label="{{ 'cart.label.total' | t }}">
<!--                       <div class="mobile-label">{{ 'cart.label.total' | t }}</div>  -->
                      <p><span class="money" data-cart-item-line-price data-csapp_discount_summery data-csapp_line_price>{{ item.final_line_price | money_with_currency }}</span></p>
                      {%- if item.original_line_price > item.final_line_price -%}
                        <p><span class="money original-price" data-cart-item-original-price><div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price |  money_with_currency }}</div></span></p>
                      {%- endif -%}
                    </div>
                  </div>
          </div>
      {%- endfor -%}
</div>

<!-- <div class="discountcodefield"> 
  <label for="discount">Discount Code:</label> 
  <input autocomplete="off" type="hidden" name="discount" class="discount_code" />
  <input autocomplete="off" type="text" name="discount_code" class="discount_code_field" /> 
  <input type="button" name="apply_discount_code" class="btn discount_code_btn" value="Apply"/>
</div> 

<div class="cart__savings discount_apply_code">
</div> -->


<div class="cart-tab-wrapper">
   <div id="accordion-1">
    <div class="head">
      <h2>{{ section.settings.tab_title }}</h2>
    </div>
    <div class="content">
      <p>{{ section.settings.tab_content }}</p>
    </div>
  </div>

</div>
        
            <div class="grid">
                <div class="cart-notes" id="ship-calculator">
                    {% comment %}
                    Optional, add a textarea for special notes
                    - Your theme settings can turn this on or off. Default is on.
                    - Make sure you have name="note" for the message to be submitted properly
                    {% if section.settings.show_notes %}
                    <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                    <textarea name="note" id="CartSpecialInstructions">{{ cart.note }}</textarea>
                    {% endif %}
                    {% endcomment %}

                </div>

              <div class="cart-checkout">
                {%- if cart.cart_level_discount_applications != blank -%}
                  <ul class="cart-discount">
                    {%- for discount_application in cart.cart_level_discount_applications -%}
                      <li class="cart-discount--applications">
                        <span class="cart-discount--title">{{- discount_application.title -}}</span>
                        <span class="cart-discount--amount">-<span class="money">{{ discount_application.total_allocated_amount | money_with_currency }}</span></span>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}


                
                <p class="subtotal">
                  <span class="label">{{ 'cart.general.subtotal' | t }} ({{ cart.item_count }} Items)</span>
                  <span class="price money" data-cart-subtotal><span class="csapps-cart-original-total">{{ cart.total_price | money_with_currency }}</span> {% comment %}{% if cart.currency.symbol == "$" %} {{ cart.currency.iso_code }}{%- endif -%}{% endcomment %}</span>
                </p>
                {% unless shop.enabled_currencies.size > 1 %}
                  <p class="shipping-at-checkout"><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
                {% endunless %}
                {% if settings.show_multiple_currencies %}
                {% assign default_currency = settings.default_currency | default: shop.currency | strip | upcase %}
                <p class="currency-at-checkout" {%if default_currency == shop.currency %}style="display:none;"{% endif %}><em>{{ 'cart.general.currency_at_checkout_html' | t: shop_name: shop.name, shop_currency: shop.currency }}</em></p>
                {% endif %}
                <!--

                <p style="text-align:left"> 
                  <b>Please note orders may take up to 2 weeks to ship as we have just received delivery of our second order of <a href="https://rubyshines.com/products/the-aj-shaping-underwear">underwear</a> and are working through a large backlog of orders. Thanks for your patience!</b> 
                </p>
				-->
                  
                {%- if section.settings.terms_and_conditions -%}
                  <div class="terms-and-conditions rte">
                    <input style="float:none; vertical-align: middle;" type="checkbox" id="terms-and-conditions__agree" />
                    <label style="display:inline; float:none" for="terms-and-conditions__agree">
                      {{ section.settings.terms_and_conditions_text }}
                    </label>
                  </div>
                {%- endif -%}
                <div class="checkout-buttons">
                  <input type="submit" name="update" class="button btn btn-secondary outline cart-button--update" value="{{ 'cart.general.update' | t }}">
          {% if cart.total_price > 0 %}
                  <input type="submit" name="checkout" class="button  btn btn-primary" value="{{ 'cart.general.checkout' | t }}">
          {% else %}
                  <a href="#" class="button  btn btn-primary">{{ 'cart.general.checkout' | t }}</a>
          {% endif %}
                </div>

              {% comment %}  {% if additional_checkout_buttons %}
                  	<div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                {% endif %} {% endcomment %}
              </div>
            </div>

          </form>
        </div>
      {% else %}
        {% comment %}
          The cart is empty
        
        <p>{{ 'cart.general.empty' | t }}<br>
        {{ 'cart.general.continue_browsing_html' | t }}</p>{% endcomment %}
        <h4 style=" margin-bottom: 50px; ">No Items</h4>
      <div class="cart-tab-wrapper">
         <div id="accordion-1">
          <div class="head">
            <h2>{{ section.settings.tab_title }}</h2>
          </div>
          <div class="content">
            <p>{{ section.settings.tab_content }}</p>
          </div>
        </div>
      </div>
      {% endif %}


    </div>
  </div>

</section>
{% schema %}
{
  "name": "Cart page",
  "class":"cart-templ-wr",
  "settings": [
     
    {
      "type": "checkbox",
      "id": "show_notes",
      "label": "Enable order notes",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendors",
      "label": "Show product vendors",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "ajax_cart",
      "label": "Auto update cart quantities",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "breadcrumbs",
      "label": "Show Breadcrumbs",
      "default": false
    },
    {
      "type": "header",
      "content": "Terms and conditions"
    },
    {
      "type": "checkbox",
      "id": "terms_and_conditions",
      "label": "Enable checkbox",
      "default": false
    },
    {
      "type": "richtext",
      "id": "terms_and_conditions_text",
      "label": "Agreement text",
      "default": "<p>I agree with the terms and conditions.</p>"
    },
    {
      "type":"text",
      "id":"tab_title",
      "label":"Tab Title"
    },
     {
      "type":"richtext",
      "id":"tab_content",
      "label":"Tab Content"
    },
    {
      "type":"header",
      "content": "Free Shipping"
    },
    {
      "type":"text",
      "id":"free_price",
      "label":"Price for free shipping",
      "info":"Please do not use '.' in price. Example: if you want to add $50 so you can write $50"
    },
    {
      "type":"text",
      "id":"free_text",
      "label":"Free shipping message"
    }
   
    
  ]
}
{% endschema %}
<script>
  $('.head').click(function(){
    $(this).toggleClass('active');
    $(this).parent().find('.arrow').toggleClass('arrow-animate');
    $(this).parent().find('.content').slideToggle(280);
  })      
  $('.quantity-select .button-wrapper button').click(function(){
   
    setTimeout(function(){
    $("div#shipping-savings-message").load("/cart div#shipping-savings-message > p");
    if($('.cart-items >.cart-item').length < 1){
      window.location.href = "/cart";
    }
    },2000);
  });
</script>