<div class="testimonial-wrapper">
  <div class="wrapper">
    <h2>{{ section.settings.heading }}</h2>
    <div class="testimonial-wr owl-carousel owl-theme">
      {% for block in section.blocks %}
      <div class="testimonial">
        <div class="star">
          <span><img src="{{ 'star.png' | asset_img_url:'' }}"</span>
          <span><img src="{{ 'star.png' | asset_img_url:'' }}"</span>
          <span><img src="{{ 'star.png' | asset_img_url:'' }}"</span>
          <span><img src="{{ 'star.png' | asset_img_url:'' }}"</span>
          <span><img src="{{ 'star.png' | asset_img_url:'' }}"</span>
        </div>
        <h3>{{ block.settings.heading }}</h3>
        <p>{{ block.settings.info }}</p>
        <h4>{{ block.settings.name }}</h4>
        <span class="date">{{ block.settings.date }}</span>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Testimonials",
    "settings": [{
      "type":"text",
      "id":"heading",
      "label":"Heading",
      "default":"Heading"
    }],
    "blocks":[
      {
        "type":"tesimonial",
        "name":"Tesimonial",
        "settings":[
          {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Heading"
          },
          {
            "type":"textarea",
            "id":"info",
            "label":"Review"
          },
          {
            "type":"text",
            "id":"name",
            "label":"Name",
            "default":"Name"
          },
          {
            "type":"text",
            "id":"date",
            "label":"Date",
            "default":"06/07/2022"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Custom layout",
        "blocks": [
          {
            "type": "tesimonial",
            "type": "tesimonial",
            "type": "tesimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
  .testimonial-wrapper { padding: 50px 0; }
  .testimonial-wrapper h2 { text-align: center; font-size: 32px; line-height: 40px; margin-bottom: 70px; }
  .testimonial-wr .testimonial { padding: 0 15px; text-align: center; }
  .testimonial-wr .testimonial .star img { width: 30px; margin: 0 5px; }
  .testimonial-wr .testimonial h3, .testimonial-wr .testimonial h4 { margin: 15px 0; font-size: 20px; }
  .testimonial-wr .testimonial p { font-weight: 500; line-height: 25px; }
  .testimonial-wr .testimonial span.date { color: #4E5663; }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}