<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>				
{% assign limit = section.settings.product_recommendations_limit %}
{%- if section.settings.show_product_recommendations -%}    
  <div class="simple-collection product-recommendations" data-product-id="{{ product.id }}" data-limit="{{ limit }}" data-section-id="{{ section.id }}" data-section-type="product-recommendations">
      <div class="wrapper">
        <header>
          {% if section.settings.product_recommendations_heading != blank %}
            <h4>{{ section.settings.product_recommendations_heading | escape }}</h4>
          {% endif %}
        </header>
        <div class="product-container product-container--{{ limit }}">
          <div class="pro_rec_slider">
          {%- if recommendations.performed -%}
            {%- for product in recommendations.products -%}
              {% include 'product-grid-item' %}
            {%- endfor -%}
          {%- else -%}
            {%- for i in (1..limit) -%}
              {% include 'placeholder-product-grid-item' %}
            {%- endfor -%}
          {%- endif -%}
          </div>
        </div>
      </div>
  </div> 
{%- endif -%}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
      mobileOnlySlider(".pro_rec_slider", true, false, 767);

function mobileOnlySlider($slidername, $dots, $arrows, $breakpoint) {
	var slider = $($slidername);
	var settings = {
		mobileFirst: true,
		dots: false,
		arrows:true,
        prevArrow: '<button class="slide-arrow prev-arrow PS-fam-slider-prev"><img src="https://cdn.shopify.com/s/files/1/0553/1608/6844/files/left.png?v=1641875839"></button>',
        nextArrow: '<button class="slide-arrow next-arrow PS-fam-slider-next"><img src="https://cdn.shopify.com/s/files/1/0553/1608/6844/files/right.png?v=1641875852"></button>',
            responsive: [
			{
				breakpoint: $breakpoint,
				settings: "unslick"
			}
		]
	};

	slider.slick(settings);

	$(window).on("resize", function () {
		if ($(window).width() > $breakpoint) {
			return;
		}
		if (!slider.hasClass("slick-initialized")) {
			return slider.slick(settings);
		}
	});
}  
</script>
{% schema %}
  {
    "name": "Product recommendations",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_product_recommendations",
        "label": "Show dynamic recommendations",
        "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
        "default": true
      },
      {
        "type": "text",
        "id": "product_recommendations_heading",
        "label": "Heading",
        "default": "You may also like"
      },
      {
        "type": "select",
        "id": "product_recommendations_limit",
        "label": "Number of products",
        "default": "4",
        "options": [
          {"value": "4", "label": "4"},
          {"value": "8", "label": "8"}
        ]
      }
    ]
  }
{% endschema %}
