<div class="product-template" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-ProductSection data-section-type="product-template" data-enable-history-state="true" data-enable-swatch="{% if section.settings.variant_style == 'dropdowns' %}false{% else %}true{% endif %}">{% render 'preorder-now-collection-item', product: product %}
    <section class="single-product" itemscope itemtype="http://schema.org/Product">
        {% assign current_variant = product.selected_or_first_available_variant %}
        <div class="wrapper">
            <header class="content-util">
                {% include 'breadcrumb' %}
                {% include 'social-icons' %}
            </header>
            <header class="product-header">
                <div class="product-jump-container">
                  {% comment %}
                    If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
                    in the URL, we can show next/previous links to other products in the collection.
                  {% endcomment %}
                  {% if collection and section.settings.show_product_jump %}
                    {% if collection.previous_product or collection.next_product %}
                      <ul class="product-jump">
        
                      {% if collection.previous_product %}
                        {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
                        <li class="previous">
                          {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
                        </li>
                      {% endif %}
        
                      {% if collection.next_product %}
                        {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
                        <li class="next">
                          {{ 'products.general.next_product_html' | t | link_to: next_url }}
                        </li>
                      {% endif %}
        
                      </ul>
                    {% endif %}
                  {% endif %}
                </div>
        
              </header>
        </div>
    </section>
</div>

