<div class="product-template" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-ProductSection data-section-type="product-template" data-enable-history-state="true" data-enable-swatch="{% if section.settings.variant_style == 'dropdowns' %}false{% else %}true{% endif %}">{% render 'preorder-now-collection-item', product: product %}
    <section class="single-product" itemscope itemtype="http://schema.org/Product">
        {% assign current_variant = product.selected_or_first_available_variant %}
        <div class="wrapper">
            <header class="content-util">
                {% include 'breadcrumb' %}
                {% include 'social-icons' %}
            </header>
            <header class="product-header">
                <div class="product-jump-container">
                  {% comment %}
                    If the user is on a collection product page (ie with /collections/collection-handle/products/product-handle)
                    in the URL, we can show next/previous links to other products in the collection.
                  {% endcomment %}
                  {% if collection and section.settings.show_product_jump %}
                    {% if collection.previous_product or collection.next_product %}
                      <ul class="product-jump">
        
                      {% if collection.previous_product %}
                        {% capture prev_url %}{{ collection.previous_product}}#content{% endcapture %}
                        <li class="previous">
                          {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
                        </li>
                      {% endif %}
        
                      {% if collection.next_product %}
                        {% capture next_url %}{{ collection.next_product}}#content{% endcapture %}
                        <li class="next">
                          {{ 'products.general.next_product_html' | t | link_to: next_url }}
                        </li>
                      {% endif %}
        
                      </ul>
                    {% endif %}
                  {% endif %}
                </div>
        
              </header>

              <div class="product-section-wr">
                <div class="product-images thumbnails-placement-{{ section.settings.thumbnails_placement }}">
                    <div class="images-container">
                      {% include 'product-featured-image' %}
          
                      {%- comment -%}
                        Create thumbnails if there is more than one product image
                      {%- endcomment -%}
                      {%- unless product.images.size == 1 or section.settings.thumbnails_placement == 'hide' -%}
                        {%- if section.settings.thumbnails_placement contains 'side' -%}
                          {% include 'product-thumbnails' %}
                        {%- endif -%}
          
                        {% include 'product-thumbnails-slider' %}
                      {%- endunless -%}
                    </div>
                </div>
                <div class="product-info-wr">
                    <div id="AddToCartForm-{{ section.id }}" data-AddToCartForm class="form-vertical product-form product-form-{{ section.id }}" {% if section.settings.show_payment_button %}data-dynamic-checkout="true"{% endif %} data-section="{{ section.id }}">
                        {% include 'product-form' %}
                      </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% schema %}
{
  "name": "Product pages",
  "settings": [
    {
      "type": "header",
      "content": "Product form settings"
    },
    {
      "type": "checkbox",
      "id": "show_vendors",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "select",
      "id": "variant_style",
      "label": "Product variant style",
      "options": [
        {
          "value": "dropdowns",
          "label": "Dropdowns"
        },
        {
          "value": "buttons",
          "label": "Buttons"
        },
        {
          "value": "swatches",
          "label": "Swatches"
        }
      ],
      "default": "dropdowns"
    },
    {
      "type": "checkbox",
      "id": "variant_swatch_images",
      "label": "Show swatch images",
      "info": "Upload custom swatch images. [Learn more](https://help.stylehatch.com/article/335-product-color-swatches)",
      "default": false
    },
    {
      "type": "select",
      "id": "variant_swatch_shape",
      "label": "Swatch shape",
      "options": [
        {
          "value": "circle",
          "label": "Circle"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "circle"
    },
    {
      "type": "checkbox",
      "id": "variant_swatch_soldout",
      "label": "Disable sold out swatches",
      "default": true
    },
    {
      "type": "page",
      "id": "size_guide_page",
      "label": "Size guide content"
    },
    {
      "type": "checkbox",
      "id": "product_quantity_enable",
      "label": "Show quantity selector",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_box_padding",
      "label": "Show product details background",
      "default": true
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "checkbox",
      "id": "enable_image_slider",
      "label": "Enable image slider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show slider dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show previous and next arrows",
      "default": false
    },
    {
      "type": "select",
      "id": "thumbnails_placement",
      "label": "Thumbnails placement",
      "options": [
        {
          "value": "side--left",
          "label": "Left"
        },
        {
          "value": "side",
          "label": "Right"
        },
        {
          "value": "below",
          "label": "Below"
        },
        {
          "value": "hide",
          "label": "Hide"
        }
      ],
      "default": "side"
    },
    {
      "type": "checkbox",
      "id": "enable_thumb_slider",
      "label": "Group thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_featured_zoom_enable",
      "label": "Enable zoom",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_featured_lightbox_enable",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "header",
      "content": "Description tabs"
    },
    {
      "type": "checkbox",
      "id": "tabs_enable",
      "label": "Enable description tabs",
      "default": false
    },
    {
      "type": "select",
      "id": "tabs_auto_headings",
      "label": "Description headings to tabs",
      "options": [
        {
          "value": "disabled",
          "label": "Disabled"
        },
        {
          "value": "h1",
          "label": "Heading 1"
        },
        {
          "value": "h2",
          "label": "Heading 2"
        },
        {
          "value": "h3",
          "label": "Heading 3"
        },
        {
          "value": "h4",
          "label": "Heading 4"
        },
        {
          "value": "h5",
          "label": "Heading 5"
        },
        {
          "value": "h6",
          "label": "Heading 6"
        }
      ],
      "default": "h4",
      "info": "Automatically create tabs from the headings added to the product description."
    },
    {
      "type": "text",
      "id": "tabs_title",
      "label": "Default tab title",
      "default": "Description"
    },
    {
      "type": "page",
      "id": "tabs_global_page_1",
      "label": "Tab content 1"
    },
    {
      "type": "page",
      "id": "tabs_global_page_2",
      "label": "Tab content 2"
    },
    {
      "type": "page",
      "id": "tabs_global_page_3",
      "label": "Tab content 3"
    },
    {
      "type": "header",
      "content": "Additional options"
    },
    {
      "type": "checkbox",
      "id": "show_product_jump",
      "label": "Show previous and next links",
      "default": false
    },
    {
      "type": "image_picker",
      "id": "trust_badge",
      "label": "Checkout badge image"
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show social sharing buttons",
      "default": true
    }
  ]
}
{% endschema %}
