{% include 'spurit_po2_section_snippet', product: null, products: collections[section.settings.collection].products %}
<div class="simple-collection layout-{{ section.settings.product_count_range }}" data-section-id="{{ section.id }}" data-section-type="simple-collection-section">
  <div class="wrapper">
    <header{% if section.settings.center_heading %} class="centered"{% endif %}>
      {% if section.settings.title != blank %}
        <h4>{{ section.settings.title | escape }}</h4>
      {% endif %}
      {% if section.settings.button_link != blank and section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="button outline">{{ section.settings.button_label | escape }}</a>
      {% endif %}
    </header>
    <div class="product-container owl-carousel" id="collection-{{ section.id }}">
      {%- assign collection = collections[section.settings.collection] -%}
      {%- assign product_limit = section.settings.product_count_range -%}
      {% for product in collection.products limit: product_limit  %}
        {% include 'product-grid-item' %}
      {% else %}
        {% for i in (1..product_limit) %}
          {% include 'placeholder-product-grid-item' %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Simple collection",
  "class": "simple-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "checkbox",
      "id": "center_heading",
      "label": "Center heading",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "product_count_range",
      "label": "Number of products",
      "min": 4,
      "max": 20,
      "step": 4,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "Featured collection",
      "category": "Collection"
    }
  ]
}
{% endschema %}

<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
if ($(window).width() <= 650) {
$('#collection-{{section.id}}').slick({
  arrows: false,
  autoplay: true,
  autoplaySpeed: 2000,
});
}

var test,test2;
$('.box.product .product-swatches__li').click(function(){
    test = $(this).find('.product-swatches__label').text();
});
$('.box.product select[id*=ProductSelect-]').change(function(){
    test2 = $(this).val();
});
$('.simple-collection .box.product input.btn.btn-primary').click(function(){
  test = $(this).parents('.box.product').find('.product-swatches__li a.product-swatches__link--selected .product-swatches__label').text();
  test2 = $(this).parents('.box.product').find('select[id*=ProductSelect-]').val();

  $(this).parents('.box.product').find('#variant-select option').each(function(){
        if($(this).attr('data-title')==test+" / "+test2 || $(this).attr('data-title')==test2+" / "+test){ 
             $(this).attr("selected","selected");  
        }
    });
   var oriValue = $(this).parents('.box.product').find('#variant-select').val();
 
  let formData = {
   'items': [{
    'id': oriValue,
    'quantity':1
    }]
  };
    fetch(window.Shopify.routes.root + 'cart/add.js', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(formData)
    })
    .then(()=>{
      setTimeout(() => {
        this.setAttribute('value','Added');
      }, "1000")
      const para = document.createElement("p");
    const node = document.createTextNode("This is new.");
    para.appendChild(node);
      this.parentElement.appendChild(para)
    })
    .catch((error) => {
      console.error('Error:', error);
    });

});
  
  
</script>