{% form 'product', product %}
  <div class="product-title">
    <h1 itemprop="name">
      {% unless section_onboarding %}
        {{ product.title }}
      {% else %}
        {{ 'homepage.onboarding.product_title' | t }}
      {% endunless %}
    </h1>
  </div>
{% comment %}Start automatically added Judge.me widget{% endcomment %}
  {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', concierge_install: true, product: product %}
{% comment %}End automatically added Judge.me widget{% endcomment %}


  <div class="selection-wrapper price product-single__price-{{ section.id }}">
    {% unless section_onboarding %}
      <span class="money" id="ProductPrice-{{ section.id }}" data-ProductPrice itemprop="price" content="{{ current_variant.price | money_without_currency | remove: ',' }}">{{ current_variant.price | money }} {% if cart.currency.symbol == "$" %} {{ cart.currency.iso_code }}{%- endif -%}</span>
    {% else %}
      <span class="money" id="ProductPrice-{{ section.id }}" data-ProductPrice itemprop="price" content="{{ 1999 | money_without_currency | remove: ',' }}">{{ 1999 | money }}</span>
    {% endunless %}
    
    {% if current_variant.compare_at_price > current_variant.price %}
      <p id="ComparePrice-{{ section.id }}" data-ComparePrice style="display:inline-block;">
        <span class="compareprice__label">{{ 'products.product.compare_at' | t }} </span><span class="money">{{ current_variant.compare_at_price | money }}</span>
      </p>
    {% else %}
      <p id="ComparePrice-{{ section.id }}" data-ComparePrice style="display:none;">
        <span class="compareprice__label">{{ 'products.product.compare_at' | t }} </span><span class="money">{{ current_variant.compare_at_price | money }}</span>
      </p>
    {% endif %}
  </div>

  {% unless product.has_only_default_variant %}
    {%- comment -%}
      Dropdown colleciton of variant options
    {%- endcomment -%}
    {%- if section.settings.variant_style == 'dropdowns' -%}
      <div class="selection-wrapper variant js">
        <div class="variant-grid">
          {% for option in product.options_with_values %}
            {%- assign option_name = option.name | downcase -%}
            {%- assign size_options = 'products.product.size_option' | t -%}
            <div class="selector-wrapper">
              <label for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
                {%- if section.settings.size_guide_page != blank and size_options contains option_name -%}
                <span class="label-extra"><a href="{{ pages[section.settings.size_guide_page].url }}" class="product-size-guide-{{ section.id }}">{{ pages[section.settings.size_guide_page].title }}</a></span>
                {%- endif -%}
              </label>

              <select class="single-option-selector single-option-selector-{{ section.id }}" id="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}" data-name="{{ option.name }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                  <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                  </option>
                {% endfor %}
              </select>
            </div>
          {% endfor %}
          {% if section.settings.product_quantity_enable %}
            {% include 'quantity-selector' %}
          {% endif %}
        </div>
      </div>
    {%- comment -%}
      Button/swatch colleciton of variant options
    {%- endcomment -%}
    {%- elsif section.settings.variant_style == 'buttons' or section.settings.variant_style == 'swatches' -%}
      <div class="selection-wrapper variant radio js">
        {% for option in product.options_with_values %}
          {% include 'swatch' %}
        {% endfor %}
        {% if section.settings.product_quantity_enable %}
          {% include 'quantity-selector' %}
        {% endif %}
      </div>
    {%- endif -%}
  {% else %}
    {% if section.settings.product_quantity_enable %}
      <div class="selection-wrapper variant js">
        {% include 'quantity-selector' %}
      </div>
    {% else %}
      {%- assign cart_buttons_margin = 'cart_buttons__margin' -%}
    {% endif %}
  {% endunless %}
  
  {% comment %}
    Primary variant select controlled JS
  {% endcomment %}
  <div class="selection-wrapper variant no-js">
    <div class="selector-wrapper full-width">
      <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
        {% for variant in product.variants %}
           
        {% if variant.available %}  
        <option value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
          {% else %}
        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
         {% endif %}
           {% comment %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">
              {{ variant.title }} - {{ variant.price | money_with_currency }}
            </option>
       
          {% if variant.available %}
            <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">
              {{ variant.title }} - {{ variant.price | money_with_currency }}
            </option>
          {% else %}
            <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
          {% endif %}{% endcomment %}
        {% endfor %}
      </select>
    </div>
  </div>
  <div class="error cart-error cart-error-{{ section.id }}" style="display:none;"></div>
  <div id="CartButtons-{{ section.id }}" class="cart-buttons {% if cart_buttons_margin %}{{ cart_buttons_margin }}{% endif %} {% if section.settings.show_payment_button and current_variant.available %}cart-buttons__enabled{% elsif section_onboarding %}cart-buttons__enabled{% endif %}">
    <div class="button-wrapper default-cart-button">
      <button type="submit" name="add" id="AddToCart-{{ section.id }}"  {% if preorder == true %} data-preorder {% endif %} class="default-cart-button__button {% unless current_variant.available or section_onboarding %}disabled{% endunless %}" {% unless current_variant.available %}disabled{% endunless %}  data-AddToCart>
        <span id="AddToCartText-{{ section.id }}" data-AddToCartText>
          {% unless current_variant.available or section_onboarding %}
            {{ 'products.product.sold_out' | t }}
          {% else %}
            {%- if preorder == true -%}
              {{ 'products.product.preorder' | t }}
            {%- else -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- endif -%}
          {% endunless %}
        </span>
      </button>
    </div>
    <div id="PaymentButtonContainer-{{ section.id }}" class="payment-button__container">
      {% if section.settings.show_payment_button %}
        {{ form | payment_button }}
      {% endif %}
    </div>
  </div>
{% endform %}
{% schema %}
  {
  "name": "Product information",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "Text"
        }
      ]
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "Quantity selector",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "Variant picker",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "Dropdowns"
            },
            {
              "value": "button",
              "label": "Buttons"
            },
            {
              "value": "swatches",
              "label": "Swatches"
            }
          ],
          "default": "button",
          "label": "Variant picker"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "Buy buttons",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "Show dynamic checkout buttons",
          "info": "Using the payment methods available on your store, customers see their preferred option, like PayPal or Apple Pay. Learn more"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "Text",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "If you include a link in social media posts, the page’s featured image will be shown as the preview image."
        },
        {
          "type": "paragraph",
          "content": "A store title and description are included with the preview image."
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "Custom liquid",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "Custom liquid",
          "info": "Add app snippets or other Liquid code to create advanced customizations."
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "Collapsible row",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "Include a heading that explains the content.",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Row content"
        },
        {
          "type": "page",
          "id": "page",
          "label": "Row content from page"
        }
      ]
    },
    {
      "type": "popup",
      "name": "Pop-up",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "Link label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "Page"
        }
      ]
    },
    {
      "type": "rating",
      "name": "Product rating",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "To display a rating, add a product rating app."
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendors",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "info": "Lets customers check out directly using a familiar payment method. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
      "default": true
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "checkbox",
      "id": "enable_image_slider",
      "label": "Enable image slider",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_dots",
      "label": "Show slider dots",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_arrows",
      "label": "Show previous and next arrows",
      "default": false
    },
    {
      "type": "select",
      "id": "thumbnails_placement",
      "label": "Thumbnails placement",
      "options": [
        {
          "value": "side--left",
          "label": "Left"
        },
        {
          "value": "side",
          "label": "Right"
        },
        {
          "value": "below",
          "label": "Below"
        },
        {
          "value": "hide",
          "label": "Hide"
        }
      ],
      "default": "side"
    },
    {
      "type": "checkbox",
      "id": "enable_thumb_slider",
      "label": "Group thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "product_featured_zoom_enable",
      "label": "Enable zoom",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "product_featured_lightbox_enable",
      "label": "Enable lightbox",
      "default": true
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}